
#parent {
   position: relative;
   width: 800px;
   height: 800px;
   background-color: #ccc;
 }
 #child {
   position: absolute;
   top: 0;
   left: 0;
   width: 50px;
   height: 50px;
   background-color: red;
 }
 


.block {
   width: 800px;
   height: 800px;
   background:  no-repeat;
   margin-left: auto;
   margin-right: auto;

   border: 2px solid red;
   

}
/* .wrapper {
   
   width: 800px;
   height: 800px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
  
} */

#password{
   width: 250px;
   height: 60px;
   margin-bottom: 20px;
   border-radius: 10px;
  

}
#confirm-password{
   width: 250px;
   height: 60px;
   margin-bottom: 20px;
   border-radius: 10px;

}
button{
   width: 250px;
   height: 60px;
   margin-bottom: 20px;
   border-radius: 10px;
   

}
#email {
   width: 250px;
   height: 60px;
   margin-bottom: 20px;
   border-radius: 10px;

}
body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: url('https://img.freepik.com/free-vector/elegant-background-with-gold-frame_1048-10457.jpg') no-repeat;
background-size: cover;
background-position: center;
}
.icon{
   position: absolute;
   right: 210px;
   top: 43%;
   cursor: pointer;
}
